/* Kanban.module.css */
.kanbanBoard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 92vh;
  background: linear-gradient(
    135deg,
    #0085d7 0%,
    #0092d1 30%,
    #0094f0 60%,
    #009dff 85%,
    #0084ff 100%
  );
}

.column {
  width: 30%;
  background-color: #ffffff; /* Fondo de las columnas */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.taskList {
  flex-grow: 1;
  padding-top: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.1),
    -2px 2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.taskBefore {
  border-top: 2px solid rgba(0, 170, 255, 0.8); /* Color #00aaff con opacidad suave */
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.taskAfter {
  border-bottom: 2px solid rgba(0, 170, 255, 0.8); /* Color #00aaff con opacidad suave */
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task:hover {
  outline: 2px solid #00aaff;
}

.task:active {
  transform: scale(0.98);
}

.title {
  font-size: 0.8rem;
}

.description {
  font-size: 0.6rem;
}

.icons {
  display: flex;
  gap: 5px;
}

span {
  cursor: pointer;
}

span:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

.column .task-list .task:last-child {
  margin-bottom: 0;
}

.column .task-list {
  max-height: calc(100vh - 150px); /* Espacio disponible para las tareas */
  overflow-y: auto;
  padding-right: 5px; /* Espacio para que las tarjetas no toquen el borde */
}

.column .task-list::-webkit-scrollbar {
  width: 6px;
}

.column .task-list::-webkit-scrollbar-thumb {
  background-color: #1d8ee4;
  border-radius: 10px;
}

.column .task-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
